* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr/ 1fr 4fr;
}

#sidebar {
  background-color: ghostwhite;
  padding: 3rem;
}

#content {
  padding: 4rem;
}

.heading-text {
  margin: 1rem;
}

.task {
  background-color: ghostwhite;
  border-radius: 15px;
  padding: 1rem 2rem;

  button {
    width: 4rem;
    height: 4rem;
  }
  .delete-button {
    grid-area: 1/2/2/-1;
  }
  .open-button {
    grid-area: 2/2/-1/-1;
  }
}

.task-open {
  display: grid;
  grid-template: 2fr 3fr / 29fr 1fr;

  .task-header {
    display: grid;
    grid-template: 1fr / 6fr 2fr;
    p {
      padding: 0.5rem;
    }
    p:first-child {
      grid-area: 1/1/2/2;
    }
  }
  .task-info {
    display: grid;
    grid-template: 1fr / 6fr 2fr;
  }
}

.task-closed {
  display: grid;
  grid-template: 1fr / 29fr 1fr;

  .task-header {
    display: grid;
    grid-template: 1fr / 6fr 2fr;
    p {
      padding: 0.5rem;
    }
    p:first-child {
      grid-area: 1/1/2/2;
    }
  }
}
